body{
    background-color: greenyellow;
}

#wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
   }
.flex-wrapper{
    display: flex;
    flex-direction: column;
}


header{
    text-align: center;
    color: blue;
    font-size: 30px;
}
nav:hover a:hover{
    background-color: red;
    align-content: space-between;


    
}
article:first-child {
   
  font-style: italic;
    font-weight: bold ;
          }
                 
    .main-container{
    display: flex;
    flex-direction: row;
    align-items: stretch;
                  
}
.container2{
     display: flex;
    flex-direction: row;
    align-items: stretch; 
    
}
.part{

    padding: 0px 5px;
    font-style:italic;
    font-weight: bold;
    
}

@media screen and (min-width: 900px) {
	body {
		
	}






    
